---
const url = Astro.url.origin;
const response = await fetch(`${url}/api/posts`);
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Data From Hono Api</h1>
    <ul>
      {
        data.posts.map((item) => {
          return (
            <li>
              <h2>No. {item.id}</h2>
              <h3>Title: {item.title}</h3>
            </li>
          );
        })
      }
    </ul>
  </body>
</html>
